body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #eee;
}

.card{
    background-color: white;
    width: 400px;
    margin: 8px auto;
    padding: 8px;
}

h1{
    background-color: palevioletred;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
}

.list{
    background-color: pink;
    text-align: center;
    font-size: 24px;
    padding: 8px;
    margin-top: 8px;
}

a{
    display: block;
    margin: 8px;
    border: 2px dashed blueviolet;
}